<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="go2_ros2_control" params="prefix enable_sim:=false network_interface:=lo">

    <ros2_control name="go2_ros2_control" type="system">

      <xacro:if value="${enable_sim}">
        <hardware>
          <plugin>legged_ros2_control/MujocoSystemInterface</plugin>
        </hardware>
      </xacro:if>

      <xacro:unless value="${enable_sim}">
        <hardware>
          <plugin>legged_ros2_control/Go2SystemInterface</plugin>
          <param name="network_interface">${network_interface}</param>
        </hardware>
      </xacro:unless>

      <joint name="${prefix}FL_hip_joint">
        <command_interface name="position">
          <param name="min">-1.0472</param>
          <param name="max">1.0472</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-30.1</param>
          <param name="max">30.1</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-23.7</param>
          <param name="max">23.7</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}FL_thigh_joint">
        <command_interface name="position">
          <param name="min">-1.5708</param>
          <param name="max">3.4907</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-30.1</param>
          <param name="max">30.1</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-23.7</param>
          <param name="max">23.7</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}FL_calf_joint">
        <command_interface name="position">
          <param name="min">-2.7227</param>
          <param name="max">-0.83776</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-15.7</param>
          <param name="max">15.7</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-45.43</param>
          <param name="max">45.43</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}FR_hip_joint">
        <command_interface name="position">
          <param name="min">-1.0472</param>
          <param name="max">1.0472</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-30.1</param>
          <param name="max">30.1</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-23.7</param>
          <param name="max">23.7</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}FR_thigh_joint">
        <command_interface name="position">
          <param name="min">-1.5708</param>
          <param name="max">3.4907</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-30.1</param>
          <param name="max">30.1</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-23.7</param>
          <param name="max">23.7</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}FR_calf_joint">
        <command_interface name="position">
          <param name="min">-2.7227</param>
          <param name="max">-0.83776</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-15.7</param>
          <param name="max">15.7</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-45.43</param>
          <param name="max">45.43</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}RL_hip_joint">
        <command_interface name="position">
          <param name="min">-1.0472</param>
          <param name="max">1.0472</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-30.1</param>
          <param name="max">30.1</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-23.7</param>
          <param name="max">23.7</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}RL_thigh_joint">
        <command_interface name="position">
          <param name="min">-0.5236</param>
          <param name="max">4.5379</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-30.1</param>
          <param name="max">30.1</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-23.7</param>
          <param name="max">23.7</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}RL_calf_joint">
        <command_interface name="position">
          <param name="min">-2.7227</param>
          <param name="max">-0.83776</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-15.7</param>
          <param name="max">15.7</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-45.43</param>
          <param name="max">45.43</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}RR_hip_joint">
        <command_interface name="position">
          <param name="min">-1.0472</param>
          <param name="max">1.0472</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-30.1</param>
          <param name="max">30.1</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-23.7</param>
          <param name="max">23.7</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}RR_thigh_joint">
        <command_interface name="position">
          <param name="min">-0.5236</param>
          <param name="max">4.5379</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-30.1</param>
          <param name="max">30.1</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-23.7</param>
          <param name="max">23.7</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}RR_calf_joint">
        <command_interface name="position">
          <param name="min">-2.7227</param>
          <param name="max">-0.83776</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-15.7</param>
          <param name="max">15.7</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-45.43</param>
          <param name="max">45.43</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>

      <sensor name="imu">
        <state_interface name="orientation.x"/>
        <state_interface name="orientation.y"/>
        <state_interface name="orientation.z"/>
        <state_interface name="orientation.w"/>
        <state_interface name="angular_velocity.x"/>
        <state_interface name="angular_velocity.y"/>
        <state_interface name="angular_velocity.z"/>
        <state_interface name="linear_acceleration.x"/>
        <state_interface name="linear_acceleration.y"/>
        <state_interface name="linear_acceleration.z"/>
      </sensor>

    </ros2_control>



  </xacro:macro>

</robot>